@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Courier Prime', monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #f0f0f0;
  background-color: #0a0a0a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
