@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: var(--font-body);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgb(var(--color-nott-white));
  background-color: rgb(var(--color-nott-black));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.text-shadow-glow {
  text-shadow: 0 0 10px rgba(var(--color-nott-red), 0.5), 0 0 20px rgba(var(--color-nott-red), 0.3);
}

.text-shadow-glow-green {
  text-shadow: 0 0 10px rgba(var(--color-nott-green), 0.5), 0 0 20px rgba(var(--color-nott-green), 0.3);
}